<form action="{% url 'home' %}" method="post">
    {% csrf_token %}

    <label for="advertiserId">Advertiser Id: </label>
    <input id="advertiserId" type="number" name="advertiserId" required>

      ---

    <label for="title">Title: </label>
    <input id="title" type="text" name="title" maxlength="100" required>

      ---

    <label for="imageUrl">ImageUrl: </label>
    <input id="imageUrl" type="text" name="imageUrl" maxlength="500" required>

      ---

    <label for="link">Link: </label>
    <input id="link" type="text" name="link" maxlength="500" required>

    <input type="submit" value="Create ad">
</form>